@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap');
* {
    font-family: 'Noto Sans JP', sans-serif;
}

:root {
    --primary: #8a57e9;
    --secondary: #38e781;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( to right bottom, var(--primary), var(--secondary));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
}

.dropdown {
    width: 40rem;
    position: relative;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
    transition: 500ms;
}

.dropdown-select {
    padding: 1.5rem;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown-list {
    width: 43rem;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown-list__items {
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.outline {
    width: 100px;
    height: 100px;
    background-color: violet;
    visibility: hidden;
}

.dropdown-list__items:hover {
    background-color: rgb(141, 132, 141);
    transition: 500ms;
}

.lk {
    text-decoration: none;
}